#facilities {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 107px;
  padding-bottom: 136px;
}

h1 {
  color: var(--color-title);
  font-size: var(--title);
  font-weight: 600;
  margin-bottom: 16px;
}

p {
  font-size: var(--paragraph);
  color: var(--color-paragraph);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

i {
  font-size: 20px;
  margin-right: 10px;
}

#facilities .img-facilities img {
  width: 518px;
  max-width: 500px; /* impede que fique grande demais */
  height: auto; /* mantém proporção */
  object-fit: contain; /* garante que não distorça */
}
