footer {
  background-color: var(--background-footer);
  color: var(--white);
  padding: 64px 32px;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    border-bottom: 1px solid var(--white);
  }

  .logo-footer {
    h1 {
      font-size: var(--title);
      font-family: "Sora", sans-serif;
      font-weight: 600;
      background-image: var(--gradiente);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      position: relative;

      img {
        position: absolute;
        top: -20px;
        right: 140px;
      }
    }

    p {
      font-family: "Poppins", sans-serif;
      font-style: italic;
      font-size: var(--paragraph);
      font-weight: 300;
      margin-bottom: 24px;
    }

    .footer-icons {
      font-size: 24px;
      display: flex;
      gap: 30px;
    }
  }

  .information,
  .branche,
  .contact {
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 600;
      font-size: var(--paragraph-review);
      margin-bottom: 24px;
      white-space: nowrap;
    }

    p,
    a {
      font-size: var(--paragraph);
      font-weight: 400;
      margin-bottom: 16px;
    }
  }
}

.copyright {
  text-align: center;
  margin-top: 48px;
  font-size: var(--paragraph);
  color: var(--white);
}
