#services {
  background-color: var(--background);
  padding-top: 120px;
  padding-bottom: 144px;

  & .services-title {
    display: flex;
    gap: 60px;
    padding-bottom: 40px;

    h1 {
      color: var(--color-title);
      font-size: var(--title);
      font-weight: 600;
      margin-right: 300px;
      white-space: nowrap;
    }
    p {
      color: var(--color-paragraph);
      font-size: var(--paragraph);
      font-weight: 400;
    }
  }

  & .services-content {
    display: flex;

    & .services-reservation {
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: var(--radius-servico);
      padding: 32px;
      margin-right: 36px;

      p {
        color: var(--color-paragraph);
        font-weight: 400;
        padding-bottom: 48px;
      }

      h1 {
        color: var(--color-title);
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 12px;
      }

      img {
        padding-bottom: 24px;
      }
    }
  }

  i {
    font-size: 20px;
    margin-right: 44px;
  }
}
