:root {
  --background-home: #f2f7ff;
  --background-partners: #e2edff;
  --background: #f9fbfc;
  --background-footer: #0a0e31;
  --color-title: #031432;
  --color-paragraph: #6c87ae;
  --blue: #3a8ef6;
  --white: #ffffff;
  --black: #000000;
  --gradiente: linear-gradient(90deg, #3a8ef6 0%, #6f3afa 100%);

  --title: 32px;
  --title-home: 40px;
  --paragraph: 16px;
  --button: 18px;
  --paragraph-review: 20px;

  --radius-button: 100px;
  --radius-block: 32px;
  --radius-servico: 24px;
}
